venv
__pycache__/
*.pyc
.DS_Store
.idea/
*.log
.env
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.iml
*.class
out/
build/
dist/
*.egg-info/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
*.cover
.ipynb_checkpoints
.vscode/
*.orig
*.rej
*.sublime-project   
*.sublime-workspace
*.tmproj

# Ignore JetBrains IDEs project files
*.iws